* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff8f0;
    text-align: center;
}

h1 {
    color:black;
    margin-top: 20px;
}

.Books-Available{
    display: flex;
    justify-content: space-around;
    background-color:aquamarine;
    padding: 15px 10px;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    flex-wrap: wrap;
}

.Books-Available a {
    text-decoration: none;
    color:blueviolet;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    transition: transform 0.2s ease;
}

.Books-Available a:hover {
    transform: scale(1.2);
    color:blueviolet;
}