* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: white; */
}

.flex-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    height: 60vh;
    width: 60vh;
    padding: 5rem 3rem;
    background-color:orangered;
    color: black;
    border-radius: 1.5rem;
    box-sizing: border-box;
}

.flex-section .box .flex-text {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}