* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lost-box {
    margin: 3rem 1.5rem;
    width: 25vw;
    height: 40vh;
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 6rem; */
    text-align: center;
    border-radius: 3rem;
}

section {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}