* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 3px;
}
h1 {
    background-color:aqua;
}

h2 {
    background-color:beige;
}

.normal p {
    font-weight: normal;
}

.bold p {
    font-weight: bold;
}

.lighter p {
    font-weight: lighter;
}

.bolder p {
    font-weight: bolder;
}

.default {
    margin-top: 30px;
    padding: 10px;
    background-color:bisque;
    border-left: 4px solid red;
}