* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:blueviolet;
}

section {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.crab {
    font-size: 5rem;
    padding-left: 4rem;
    position: relative;
    transform-origin: left;
    transform: scaleX(0) rotate(0deg);
    animation: crab-walk 3s ease-in-out infinite;
}

@keyframes crab-walk {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    50% {
        transform: translateX(0px) rotate(180deg);
    }
    100% {
        transform: translateX(100px) rotate(180deg);
    }
}