*{
    padding: 0px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    box-sizing: border-box;
}

header{
    background-color: brown;
    color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    width: 100%;

}

nav .nav-head{
    line-height: 2rem;
}

nav .nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.nav-list a {
    text-decoration: none;
    list-style: none;
    margin-top: 0.5rem;
    color: aqua;
}

.head-p{
    display: flex;
    color: black;
    padding: 4rem;
}

section{
    padding: 5rem 9% 2rem;
    min-height: 100vh;
    border:2px solid rgb(37, 23, 23);

    
}

