@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
}

p {
  font-size: 20px;
  line-height: 50px;
  word-spacing: 20px;
  letter-spacing: 20px;
}

h1 {
  font-size: 50px;
  line-height: 100px;
  word-spacing: 20px;
  letter-spacing: 20px;
}

/*
font-family
font-weight
font-size
line-height
word-spacing
letter-spacing */
