.text-align-demo {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.justify-heading {
    text-align: justify;
    margin-bottom: 20px;
}

.left {
    text-align: left;
    background-color:blueviolet;
    padding: 10px;
}

.center {
    text-align: center;
    background-color:brown;
    padding: 10px;
}

.right {
    text-align: right;
    background-color:#ffa500;
    padding: 10px;
}

.note {
    margin-top: 30px;
    padding: 10px;
    background-color: #fff8dc;
    border-left: 4px solid red;
}